repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: debug-statements
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/uv-pre-commit
    # Ensure uv.lock file is up to date
    rev: 0.9.25
    hooks:
      - id: uv-lock

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      # Run the linter (fixes imports and logic)
      - id: ruff
        args: [ --fix ]
      # Run the formatter
      - id: ruff-format
